<div class="container">
    <div class="back-arrow">
        <a [routerLink]="['../../']">
            <mat-icon>arrow_back</mat-icon> Regresar
        </a>
    </div>
    <h1 class="mat-h1">Modificar Compañía</h1>
    <form [formGroup]="companyForm" (ngSubmit)="onSubmit(companyForm)">
        <mat-card class="company-form">
            <mat-card-content>
                <div class="row">
                    <div class="col">
                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Descripción</mat-label>
                        <input matInput formControlName="description">
                      </mat-form-field>
                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>País</mat-label>
                        <input matInput formControlName="country">
                      </mat-form-field>
                    </div>
                  </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Registrar</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>