<h2>Lista de Compañías</h2>
<div>
    <a [routerLink]="['add']">Nueva Compañía</a>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>País</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let company of companies$ | async">
                <td>{{ company.id }}</td>
                <td><a [routerLink]="['edit', company.id]"> {{ company.description }}</a></td>
                <td>{{ company.country }}</td>
            </tr>
        </tbody>
    </table>
</div>