<h2>Lista de Compañías</h2>
<div>
    <button>Nueva Compañía</button>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>País</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let company of companies">
                <td>{{ company.id }}</td>
                <td>{{ company.description }}</td>
                <td>{{ company.country }}</td>
            </tr>
        </tbody>
    </table>
</div>